*{
	padding: 0;
	margin: 0 auto;
}

#container{
	width: 900px;
	background-color: black;
	height: 500px;
	background-repeat: no-repeat;
	position: relative;
	margin: 0 auto;
	text-align: center;
	padding-top: 200px;
	background-size: cover;
	background-position: center center;
}

#menu{
	border: grey solid 3px;
	border-radius: 5px;
	background-color: #e6e6e6;
	width: 300px;
	opacity: .7;
	filter: alpha(opacity=70);
	height: 200px;
}

h1{
	padding-top: 30px;
	padding-bottom: 15px;
	text-align: center;
	color: orange;
	text-shadow: 2px 2px white;
}

#menu button{
	display: inline-block;
	width: 80px;
	height: 30px; 
	margin-bottom: 10px;
	border-radius: 5px;
	background-color: white;
}

#player1_location{
	display: inline-block;
	width: 	200px;
	height: 300px;
	position: absolute;
	bottom: 0;
	left: 50px;
	background-repeat: no-repeat;
	background-size: contain;
}

#player2_location{
	display: inline-block;
	width: 	200px;
	height: 300px;
	position: absolute;
	bottom: 0;
	right: 50px;
	background-repeat: no-repeat;
	background-size: contain;
}













